<app-navbar></app-navbar>

<div class="mx-auto" style="width: 1000px;">

<div class='row'>
  <div class="panel panel-default">
   <!-- Default panel contents -->
   <h3 style="margin-top: 30px; text-align: left;">My trips</h3>

    <div class='panel-body'>
      <table class="table table-bordered table-condensed ">
        <thead>
         <th>Trip Source</th>
         <th>Trip Destination</th>
         <th>From</th>
         <th>To</th>
         <th>Modify</th>
         <th>Delete</th>
        </thead>
        <tbody>
         <tr *ngFor="let trip of myTrips">
          <td>{{trip.source}}</td>
          <td>{{trip.destination}}</td>
          <td>{{trip.fromdate}}</td>
          <td>{{trip.todate}}</td>
          <td><button class="btn btn-primary" type="submit">Update</button></td>
          <td><button class="btn btn-primary" (click) = "deleteTrip(trip)">Delete</button></td>
         </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>