    <div class="navbar navbar-expand-lg ">
      <div class="container">
        <a href="../" class="navbar-brand">Go-Amigo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../search/">Search People</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="plan">Plan Trip</a>
            </li>
          </ul> 
        </div>
      </div>
    </div>
    <div class="Container">
      <router-outlet></router-outlet>
    </div>

