 <div class="row">
   <div class="col-md-12">
      <div class="form-group">
          <label>Destination:</label>
          <input type="text" id="dest" [(ngModel)]="dest">
          <button class="btn btn-success" type="submit">Submit</button>
      </div>
          <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class='panel-heading'>Traveller List</div>
              <div class='panel-body'>
                  <table class="table table-bordered table-condensed ">
                      <thead>
                      <th>Name</th>
                      <th>Source</th>
                      <th>Date</th>
                      </thead>
                      <tbody>
                      <tr *ngFor="let trip of trips">
                          <td>{{trip.fname}} {{trip.lname}}</td>
                          <td>{{trip.source}}</td>
                          <td>{{trip.date}}</td>
                      </tr>
                      </tbody>
                  </table>
              </div>
          </div>
   </div>
 </div>
