<div class="form-group">
  <label>Destination:</label>
  <input type="text" id="dest" [(ngModel)]="dest">
  <button class="btn btn-success" type="submit" (click)=onSubmit()>Submit</button>
</div>
<div class='row'>
  <div class="panel panel-default">
   <!-- Default panel contents -->
   <div class='panel-heading'>Traveller List</div>
    <div class='panel-body'>
      <table class="table table-bordered table-condensed ">
        <thead>
         <th>Name</th>
         <th>Source</th>
         <th>Start Date</th>
         <th>End Date</th>
        </thead>
        <tbody>
         <tr *ngFor="let trip of filteredItems">
          <td>{{trip.fname}} {{trip.lname}}</td>
          <td>{{trip.source}}</td>
          <td>{{trip.todate}}</td>
          <td>{{trip.fromdate}}</td>
         </tr>
        </tbody>
      </table>
      <!-- <div class="btn-toolbar" role="toolbar" style="margin: 0;">
        <div class="btn-group">
         <label style="margin-top:10px">Page {{currentIndex}}/{{pageNumber}}</label>
       </div>
        <div class="btn-group pull-right">
         <ul class="pagination" >
           <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()" href="#">Prev</a></li>
             <li *ngFor="let page of pagesIndex"   [ngClass]="{'active': (currentIndex == page)}">
               <a (click)="setPage(page)" href="#" >{{page}}</a>
             </li>
           <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a    (click)="nextPage()" href="#">Next</a></li>
         </ul>
        </div>
     </div> -->
    </div>
</div>
