<app-navbar></app-navbar>

<div>
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<div class="form-area">
			  <h3 style="margin-top: 30px; text-align: left;">Plan my Trip</h3>

				<form #myForm="ngForm">
					<br style="clear: both">
					
					<div id="datepicker" class="calendar"></div>


					<div class="form-group">
						<div>
						<label>Source:</label>
						<input type="text" name="source" placeholder="Search for Source" class="form-control" #source [(ngModel)]="model.source" >
						</div>

					       <div>
								<div>
								<label>Source:</label>
								<input type="text" name="destination" placeholder="Search for Destination" class="form-control" #destination [(ngModel)]="model.destination" >
								</div>
							</div>	
						

					</div>

					<div class="form-group registration-date">

						<div class="input-group registration-date-time">
							<span class="input-group-addon" id="basic-addon1"></span>
							
							From:
							<input class="form-control" id="fromdate" type="date" name="fromdate" [(ngModel)]="model.fromdate" ng-required="true">
							
							To:
							<input class="form-control" id="todate" type="date" name="todate" [(ngModel)]="model.todate" ng-required="true">
							
						</div>
					</div>

					<div class="form-group">
						
							<input type="radio" name="travel" value="lone" [(ngModel)]="model.travel"/> Lone Traveler
						

							<input type="radio" name="travel" value="group" [(ngModel)]="model.travel"/> Group Travel
					
					</div>
					

	<button type="submit" id="submit" name="submit" class="btn btn-primary" (click)="onFormSubmit(myForm,model,'custom-modal-1')" [disabled]="!myForm.form.valid">Save</button>
	<button type="button" id="reset" name="reset" class="btn btn-primary" (click)="reset()">Reset</button>


		</form>		
	</div>
	</div>
	</div>

</div>
<modal id="custom-modal-1">
	<div class="custom-modal">
		<div class="custom-modal-body">
			<h2>Group Options</h2>
			<table>
				<tr><td><button (click)="createGroup();">Create A Group</button></td>
					<td><button (click)="searchPeople();">Search People</button></td>
					
				</tr>
				<tr>
				<td>Please enter memberID:</td>	
				<td><input type="text"/><button (click)="addToGroup()">Add Member</button></td>	
				</tr>

			</table>
			
			
			<button (click)="closeModal('custom-modal-1');">Close</button>
		</div>
	</div>
	<div class="custom-modal-background"></div>
</modal>